# Server Configuration
PORT=3002
NODE_ENV=development

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=onepace
POSTGRES_USER=onepace_user
POSTGRES_PASSWORD=onepace_password

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# CORS (порт frontend)
CORS_ORIGIN=http://localhost:3000

# File Upload
MAX_FILE_SIZE=5242880
ALLOWED_FILE_TYPES=image/jpeg,image/png,image/gif
